<div class="sub-menu-bar">
    <ul>
         <li><a href="#/todo_categories">TODO Categories</a></li>
         <li><a href="#/people">People</a></li>
     </ul>       
</div> 
<hr>
<form name="todoCategoryForm" class="css-form" novalidate>
   <p><label for="tName">Name:</label>
    <input type="text"  size="25" ng-model="curCategory.name" name="tName" value="{{curCategory.name}}" required=""/>
       <div class="form-error-text"  ng-show="todoCategoryForm.$submitted || todoCategoryForm.tName.$touched">
        <div ng-show="todoCategoryForm.tName.$error.required">Name is required.</div>
    </div>
    <br>
    <p><label for="tColor">Color:</label>
    <input colorpicker="hex" size="25" type="text" name="tColor" ng-model="curCategory.color" style="background-color:{{curCategory.color}};"/>
    </p>    
 </form>